@{
    ViewBag.Title = "About";
}


<h2 class="text-center" style="background-color: lightgray; padding-top: 200px; padding-bottom: 150px">About Job Board</h2>

<div class="col-md-8 align-content-center row">
    <h3 class="col-md-4">About Me</h3>
    <h3 class="col-md-4">Objectives for the Project</h3>
</div>