@model FSWDFinalProject.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}

<h2 id="ListHead"></h2>
<h2 class="text-center py-5">Your Message Has Been Sent! Details Below.</h2>

<div class="col-md-8" id="Form">
    <ul class="text-center py-5" style="list-style: none;">
        <li>Name: @Model.Name</li>
        <li>Email: @Model.Email</li>
        <li>Subject: @Model.Subject</li>
        <li>Message: @Model.Message</li>
    </ul>
    <h4 class="text-center">Thank You For The Message, I Will Get Back To You Soon</h4>
</div>
